#one{
    background-color: #4E44F4;
}
#two{
    background-color: #463DDC;
}

#three{
    background-color: #3E36C3;
}
#four{
    background-color: #3730AB;
}
#five{
    background-color: #2F2992;
}
#six{
    background-color: #27227A;
}
#seven{
    background-color: #1F1B62;
}
#eight{
    background-color: #171449;
}
#nine{
    background-color: #100E31;
}
#ten{
    background-color: #080718;
}
#eleven{
    background-color:#000000;
}
