*{
    margin:0px;
    padding:0px;
}
.img{
    /* border:2px solid black; */
    height:586px;
    
}
#left-arrow{
    width:30px;
    height: 70px;
    background-color: rgba(20, 20, 19,0.8);
    
    position:absolute;
    top:250px;
    font-size: 50px;
    color: white;
    border-radius:0px 10px 10px 0px;
    padding-right: 8px;
    padding-top: 8px;
    
}
#right-arrow{
    width:30px;
    height: 70px;
    background-color: rgba(49, 49, 48,0.8);
    position:absolute;
    top:250px;
    right:0px;
    font-size: 50px;
    color: white;
    border-radius:10px 0px 0px 10px;
    padding-left: 10px;
    padding-top: 8px;
    
}
nav{
    background-color:rgb(240,156,18);
    width:100%;
    height:70PX;
    position: sticky;
    top:0px;
    
    

}
ul{
    /* border:2px solid green; */
    text-align: center;
    height: 50px;
    padding-top: 10px;


}

nav ul li{
    display:inline-block;
    /* border:1px solid black; */
    margin-right: 20px;
    height:30px;
    border-radius:10px;
    padding-top: 10px;
    padding: 10px 20px;
}
nav ul li:hover{
    background-color:black;
    a{
        color: rgb(240,156,18);
    }
}

a{
    text-decoration: none;
    color: black;
    /* border:1px solid rgb(230, 8, 8); */
    font-size: 20px;
    font-weight: bold;
    
   

}
.div{
    height:1000px;
}